.noBottomMargin {
  margin-bottom: 0px !important;
}

.errorToast {
  background-color: #b71c1c;
}

.successToast {
  background-color: #00695c;
}

.padding-body {
  padding-left: 20%;
}

.brand-logo {
  padding-left: 20% !important;
}
